# node_modules
node_modules/*

# Git
.git/*
.github/*

# Tauri (Rust)
src-tauri/*

# README.md
README.md

# tsconfig.json
tsconfig.json
tsconfig.test.json

# Distribution
dist/*

# Next.js
next.config.js

# Postcss
postcss.config.js

# Tailwind CSS
tailwind.config.js
