/*

!README.md

!.gitignore

!.npmrc
!package.json
!pnpm-lock.yaml

# GitHub Actions
!.github
!.github/*
!.github/workflows/*
!.github/actions/*
!.github/actions/**/*.yaml

# VSCode
!.vscode/*

# front-end
!src
!src/*
!src/**/*.ts
!src/**/*.tsx

# back-end
!/src-tauri
!src-tauri/src/*
!src-tauri/src/handlers/*
!/src-tauri/**/*.rs

/src-tauri/target

# ESLint
!.eslintrc.yaml
!.eslintignore

# Prettier
!.prettierrc.yaml
!.prettierignore

# Next.js
!next.config.js
!next-env.d.ts

# Jest
!jest.config.ts

# TypeScript
!tsconfig.json

**/.DS_Store
